test.py
.venv
.vscode
scraper/__pycache__/
helpers/__pycache__/
Data/SATURNA_crypto_token/analyzed/reddit.csv
Data/SATURNA_crypto_token/analyzed/trends.csv
Data/SATURNA_crypto_token/analyzed/twitter.csv
Data/SATURNA_crypto_token/analyzed/youtube.csv
Data/SATURNA_crypto_token/raw/reddit2021-05-13.csv
Data/SATURNA_crypto_token/raw/reddit2021-05-15.csv
Data/SATURNA_crypto_token/raw/trends2021-05-13.csv
Data/SATURNA_crypto_token/raw/trends2021-05-15.csv
Data/SATURNA_crypto_token/raw/twitter2021-05-13.csv
Data/SATURNA_crypto_token/raw/twitter2021-05-15.csv
Data/SATURNA_crypto_token/raw/youtube2021-05-13.csv
Data/SATURNA_crypto_token/raw/youtube2021-05-15.csv
Data/bitcoin_elon_musk/analyzed/reddit.csv
Data/bitcoin_elon_musk/analyzed/trends.csv
Data/bitcoin_elon_musk/analyzed/twitter.csv
Data/bitcoin_elon_musk/analyzed/youtube.csv
Data/bitcoin_elon_musk/raw/reddit2021-05-15.csv
Data/bitcoin_elon_musk/raw/trends2021-05-15.csv
Data/bitcoin_elon_musk/raw/twitter2021-05-15.csv
Data/bitcoin_elon_musk/raw/youtube2021-05-15.csv
Data/dogecoin/analyzed/reddit.csv
Data/dogecoin/analyzed/trends.csv
Data/dogecoin/analyzed/twitter.csv
Data/dogecoin/analyzed/youtube.csv
Data/dogecoin/raw/reddit2021-05-13.csv
Data/dogecoin/raw/reddit2021-05-15.csv
Data/dogecoin/raw/trends2021-05-13.csv
Data/dogecoin/raw/trends2021-05-15.csv
Data/dogecoin/raw/twitter2021-05-13.csv
Data/dogecoin/raw/twitter2021-05-15.csv
Data/dogecoin/raw/youtube2021-05-13.csv
Data/dogecoin/raw/youtube2021-05-15.csv
Data/shiba_safemoon_bonfire_feg/analyzed/reddit.csv
Data/shiba_safemoon_bonfire_feg/analyzed/trends.csv
Data/shiba_safemoon_bonfire_feg/analyzed/twitter.csv
Data/shiba_safemoon_bonfire_feg/analyzed/youtube.csv
Data/shiba_safemoon_bonfire_feg/raw/reddit2021-05-15.csv
Data/shiba_safemoon_bonfire_feg/raw/trends2021-05-15.csv
Data/shiba_safemoon_bonfire_feg/raw/twitter2021-05-15.csv
Data/shiba_safemoon_bonfire_feg/raw/youtube2021-05-15.csv
Data/SATURNA_crypto_token/analyzed/reddit.csv
Data/SATURNA_crypto_token/analyzed/trends.csv
Data/SATURNA_crypto_token/analyzed/twitter.csv
Data/SATURNA_crypto_token/analyzed/youtube.csv
Data/bitcoin/raw/reddit2021-05-17.csv
Data/bitcoin/raw/twitter2021-05-17.csv
Data/dogecoin/analyzed/reddit.csv
Data/dogecoin/analyzed/trends.csv
Data/dogecoin/analyzed/twitter.csv
Data/dogecoin/analyzed/youtube.csv
